################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimpleNotebook/hallo
/SimpleNotebook/last_notebook
/SimpleNotebook/notebooks_list
/SimpleNotebook/stoller
/SimpleNotebook/stollunior
/SimpleNotebook/test#
.gitignore